@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
   background-color:white; 
   
}
.main{
    width: 800px;
    height: 400px;
    margin: 100px auto;
    box-shadow: 0px 0px 60px -14px rgba(0, 0, 0, 0.58);

}
.right{
    width: 40%;
    float: right;
    text-align: center;
}
.clear{
    clear: both;
}
.right img{
    width: 80px;
    text-align: center;
    margin-top: 10px;
}
.right h2{
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}
.right input{
border: none;
border-bottom: 2px solid #ddd;
background: none;
color: rgb(163, 163, 163);

padding: 5px;
width: 70%;
font-size: 14px;
}
.inputz{
    margin-top: 45px;
}
.right button{
    margin-top: 15px;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    background-color: #3597d3;
    color: white;

}
.right button:hover {
    cursor: pointer;
    background: #2a77a8;
}
.right i{
    color: rgb(163, 163, 163);
}
.register{
    font-size: 12px;
    margin-top: 20px;
}
.register a{
    color: #3597d3;
text-decoration: none;
}
.left{
    width: 60%;
    float: left;
    background-image: url("office.jpg");
    height: 100%;
    background-size: cover;
    margin-top: -382px;

}
.left h2 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    font-size: 25px;
    line-height: 25px;
    margin-top: 320px;
    
}
h2{
    padding: 0;
    margin: 0;
}